*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 218, 218);
    color: rgb(26, 25, 25);
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
}

.title h1 {
    background-color: rgba(131, 172, 197, 0.267);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 3em;
    color: rgb(42, 46, 65);
}

.title h2{
    margin-top: 8px;
    color: rgb(54, 58, 82);
    text-decoration: none;
    font-size: 1.6em;
}

h2, h3{
    text-align: center;
    margin-bottom: 15px;
    color: rgb(56, 60, 83);
        text-decoration:wavy underline rgba(120, 144, 168, 0.308);
}

h3{
    margin-top: 20px;
    font-size: 1.5em;   

}

body img {
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 50px;
    width: 520px;
    height: auto;
    transition: transform .35s ease, box-shadow .35s ease;
    display: blocautok;
}       

img:hover {
  transform: scale(1.03);
}

.quees {
  padding: 40px 170px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.texto-quees{
    flex: 1;
}

.texto-quees h2{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 2em;
    color: rgb(42, 47, 70);
}

.texto-quees p{
    text-align: left;
    line-height: 1.6;
    font-size: 1.1em;
    color: rgb(19, 19, 39);
}

a{
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(25, 47, 65);
    text-decoration: none;
}

.marcador{
    background-color: rgba(106, 159, 192, 0.644);
    box-shadow: 0 4px 5px rgba(16, 14, 53, 0.151);
    padding: 4px 7px;
    border-radius: 6px;
    margin-bottom: 20px;
}

a:hover{
    cursor: pointer;
    color: rgb(190, 192, 229);
}

.marcador:hover{
    background-color: rgba(13, 53, 77, 0.74);
    box-shadow: 0 6px 8px rgba(16, 14, 53, 0.205);
}

.container{
    background-color: rgba(96, 140, 165, 0.356);
    margin: 50px 150px;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(14, 10, 34, 0.205);
}

.textocontainer{
    padding: 8px 20px;
    margin: 8px 25px;
}

.textocontainer p{
    justify-content: center;
    text-align: justify;
    line-height: 1.6;
    font-size: 1em;
    margin: 100px 0px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(19, 19, 39);
}

.textocontainer h3{
    margin-bottom: 20px;
    font-size: 1.6em;
    text-decoration: none;
    color: rgb(30, 35, 61);
}

.lista ul{
    padding-left: 65px;
    margin: 45px 290px;
    line-height: 1.6;
    font-size: 1em;
    color: rgb(19, 19, 39);
    text-align: justify;
    align-items: center;
}

.lista h3{
    color: rgb(42, 47, 70);
}

.tabla{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tabla table{
    border-spacing: 10px;
}

.tabla th{
    background-color: rgba(106, 159, 192, 0.452);
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1.1em;
    color: rgb(25, 47, 65);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(14, 10, 34, 0.11);
}

.tabla td{
    margin-top: 10px;
    background-color: rgb(211, 220, 235);
    padding: 20px 15px;
    border-radius: 8px;
    color: rgb(19, 19, 39);
    line-height: 1.5em;
    box-shadow: 0 4px 8px rgba(14, 10, 34, 0.11);
}

.negrita{
    font-weight: 600;
}

footer{
    margin-top: 30px;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(131, 172, 197, 0.267);
    color: rgb(42, 46, 65);
    margin-top: auto;
}

.segundolink{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
